WORKERS=4
WORKER_CLASS=uvicorn.workers.UvicornWorker
ACCESS_LOG=true
LOG_LEVEL=warning
LIMIT_CONCURRENCY=1000
LIMIT_MAX_REQUESTS=1000

# Database Configuration
# These values will be configured during installation
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=Y@m8dcln
MYSQL_DATABASE=barcode_management_v2

# JWT Configuration
# Change this to a secure secret key during installation
SECRET_KEY=6784f652cff7e90e56de878f2adba39d
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# CORS Configuration - Comma-separated list of allowed origins
# Update these with your actual server IP addresses
CORS_ORIGINS=["*"]

# API Configuration
API_V1_STR=/api/v1
PROJECT_NAME=Barcode Management System
JOB_ORDER_IMAGE_UPLOAD_DIR = "S:\\CS_Projects\\Projects\\barcode-manage-cpc\\static"

DB_POOL_SIZE=10          
DB_MAX_OVERFLOW=20       
DB_POOL_TIMEOUT=30       
DB_POOL_RECYCLE=3600     
DB_POOL_PRE_PING=true    